// COLORS

$primary-blue:#1e1e2c;
$secondary-purple:#627cff;

$input-focus: #e04dca;
$input-border: #2c3553;


// LINEAR GRADIENTS

$purple-gradient: linear-gradient(to right top, #364BB8, #5f79fa);
$blue-gradient: linear-gradient(to right top, #305ff4, #1f87f7);
$red-gradient: linear-gradient(to right top, #ee2d27, #fb5788);
$turquoise-gradient: linear-gradient(to right top, #04a5ea, #05e7c8);